<section class="login-form">
  <form
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Your email"
      />
      <mat-hint>Please enter a valid email.</mat-hint>

      <mat-error *ngIf="loginForm.get('email').hasError('required')"
        >Field must not be empty.</mat-error
      >
      <mat-error
        *ngIf="
          !loginForm.get('email').hasError('required') &&
          loginForm.get('email').hasError('email')
        "
        >Field must be valid email.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Your password"
      />
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Field must not be empty.</mat-error>
    </mat-form-field>

    <button
      *ngIf="!isLoading"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Log in
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
